<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First task</title>

    <style>
        div , h1{
            text-align: center;
            color: rgb(143, 192, 224);
        }
        h1{
            text-align: center;
            color: rgb(143, 192, 224);
        }
    </style>
</head>
<body>
    <h1>First Task using Flask</h1>
    <div>
        <h2>Current Now : {{time}}</h2>

    </div>

    
</body>
</html>