<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First task</title>

    <style>
        h2{
            text-align: center;
            color: black;
            margin-left: 30%;
        }
        h1{
            text-align: center;
            color: black;
            margin-left: 30%;
            margin-top: 15%;


        }
        body{
            background-image:url("{{url_for('static', filename='clockimage.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            
        }
    </style>
</head>
<body>
    <h1>First Task using Flask</h1>
    <div>
        <h2 id="time">Current Now : {{time}}</h2>

    </div>


    <script>
        function updateTime() {
            const now = new Date();
            const formattedTime = `Day [ ${now.getDate().toString().padStart(2, '0')}/${(now.getMonth() + 1).toString().padStart(2, '0')}/${now.getFullYear()} ] ---- Hour[ ${now.getHours().toString().padStart(2, '0')}:${now.getMinutes().toString().padStart(2, '0')}:${now.getSeconds().toString().padStart(2, '0')} ]`;
            document.getElementById('time').innerText = formattedTime;
        }

        setInterval(updateTime, 1000); 
        window.onload = updateTime; 
    </script>

    
</body>
</html>